<a href="https://colab.research.google.com/github/Pa0laFl0res/DataScience_Practices/blob/main/practice_divide_registers_in_files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
df = pd.read_excel("facebook.xlsx")
df

         date  Registers                     name
0  2023-04-01          1      facebook page reach
1  2023-04-02          0      facebook page reach
2  2023-04-03          0      facebook page reach
3  2023-04-04          1      facebook page reach
4  2023-04-05          1      facebook page reach
..        ...        ...                      ...
72 2023-04-22          0  facebook new page likes
73 2023-04-23          7  facebook new page likes
74 2023-04-24          1  facebook new page likes
75 2023-04-25          0  facebook new page likes
76 2023-04-26          0  facebook new page likes

[77 rows x 3 columns]

In [13]:
df.name.unique()

array(['facebook page reach', 'facebook page visits',
       'facebook new page likes'], dtype=object)

In [15]:
df["name"] == "name new page likes"

0     False
1     False
2     False
3     False
4     False
      ...
72    False
73    False
74    False
75    False
76    False
Name: name, Length: 77, dtype: bool

In [22]:
df[df["name"] == "facebook new page likes"]

         date  Registers                     name
52 2023-04-02          1  facebook new page likes
53 2023-04-03          0  facebook new page likes
54 2023-04-04          0  facebook new page likes
55 2023-04-05          0  facebook new page likes
56 2023-04-06          0  facebook new page likes
57 2023-04-07          0  facebook new page likes
58 2023-04-08          1  facebook new page likes
59 2023-04-09          1  facebook new page likes
60 2023-04-10          1  facebook new page likes
61 2023-04-11          0  facebook new page likes
62 2023-04-12          1  facebook new page likes
63 2023-04-13          1  facebook new page likes
64 2023-04-14          0  facebook new page likes
65 2023-04-15          0  facebook new page likes
66 2023-04-16          0  facebook new page likes
67 2023-04-17          1  facebook new page likes
68 2023-04-18          0  facebook new page likes
69 2023-04-19          4  facebook new page likes
70 2023-04-20          5  facebook new page likes
71 2023-04-21          0  facebook new page likes
72 2023-04-22          0  facebook new page likes
73 2023-04-23          7  facebook new page likes
74 2023-04-24          1  facebook new page likes
75 2023-04-25          0  facebook new page likes
76 2023-04-26          0  facebook new page likes

In [23]:
for i in df.name.unique():
  df2 = df[df["name"] == i]
  df2.to_excel(f"{i}.xlsx", index = False)