<a href="https://colab.research.google.com/github/Pa0laFl0res/DataScience_Practices/blob/main/python_pandas_treatDataAnalisys.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Trabajando con datos

importando la base

In [1]:
import pandas as pd

In [4]:
datos = pd.read_csv('alquiler.csv', encoding = 'ISO-8859-1', sep = ';')

In [ ]:
datos

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto,Valor m2,Tipo Agrupado
0,Departamento,San Borja,1,0,0,15,800.0,390.0,20.0,53.33,Departamento
1,Departamento,Lurigancho,1,0,0,48,800.0,230.0,0.0,16.67,Departamento
2,Departamento,Ate,2,0,0,50,1300.0,301.0,17.0,26.00,Departamento
3,Departamento,Pachacámac,2,1,0,70,1500.0,642.0,74.0,21.43,Departamento
4,Departamento,Barranco,3,1,1,90,1500.0,455.0,14.0,16.67,Departamento
...,...,...,...,...,...,...,...,...,...,...,...
19826,Habitación,Mi Perú,1,0,0,10,400.0,107.0,10.0,40.00,Departamento
19827,Habitación,Santiago de Surco,1,0,0,23,900.0,605.0,0.0,39.13,Departamento
19828,Habitación,San Borja,1,0,0,24,1100.0,323.0,0.0,45.83,Departamento
19829,Habitación,Comas,1,0,0,22,1500.0,286.0,200.0,68.18,Departamento
19830,Habitación,San Borja,0,0,0,27,800.0,350.0,25.0,29.63,Departamento

In [5]:
type(datos)

pandas.core.frame.DataFrame

In [6]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ï»¿Tipo        32960 non-null  object
 1   Distrito       32960 non-null  object
 2   Cuartos        32960 non-null  int64
 3   Vacantes       32960 non-null  int64
 4   Suites         32960 non-null  int64
 5   Area           32960 non-null  int64
 6   Valor          32943 non-null  float64
 7   Mantenimiento  28867 non-null  float64
 8   Impuesto       22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [7]:
datos

,ï»¿Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,HabitaciÃ³n,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,PachacÃ¡mac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,HabitaciÃ³n,PachacÃ¡mac,0,0,0,27,800.0,350.0,25.0
32956,Departamento,Lince,3,1,2,78,1800.0,800.0,40.0
32957,Departamento,RÃ­mac,2,1,0,48,1400.0,509.0,37.0
32958,Departamento,RÃ­mac,2,0,0,70,3000.0,760.0,NaN
32959,Local comercial,PachacÃ¡mac,0,0,0,250,6500.0,4206.0,1109.0

In [8]:
datos.head()

,ï»¿Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,HabitaciÃ³n,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,PachacÃ¡mac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN

In [9]:
datos.head(10)

,ï»¿Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,HabitaciÃ³n,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,PachacÃ¡mac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN
9,Local comercial,PachacÃ¡mac,0,3,0,695,35000.0,19193.0,3030.0

In [10]:
datos.dtypes

ï»¿Tipo           object
Distrito          object
Cuartos            int64
Vacantes           int64
Suites             int64
Area               int64
Valor            float64
Mantenimiento    float64
Impuesto         float64
dtype: object

In [13]:
tipo_de_datos = pd.DataFrame(datos.dtypes, columns = ['Tipo ded atos'])

In [16]:
tipo_de_datos.columns.name = 'Variables'

In [17]:
tipo_de_datos

Variables     Tipo ded atos
ï»¿Tipo              object
Distrito             object
Cuartos               int64
Vacantes              int64
Suites                int64
Area                  int64
Valor               float64
Mantenimiento       float64
Impuesto            float64

In [18]:
datos.shape

(32960, 9)

In [20]:
datos.shape[0]

32960

In [21]:
datos.shape[1]

9

In [27]:
print('La base de datos presenta {} registros (inmuebles) y {} variables'.format(datos.shape[0], datos.shape[1]))

La base de datos presenta 32960 registros (inmuebles) y 9 variables